body{
  margin : auto;
  margin-top : 2px;
  align-content: center;
  font-family:'Times New Roman', Times, serif;
  transition: all 0.1s ease-in;
}
.container{
  width:100%;
}
head{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}