.experince-outer-box {
  padding-left: 20px;

}

.experince-inner-box {
  position: relative;
  margin: 20px;
  align-self: auto;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-top: 8px;
  padding-left: 20px;
  height: 300px;
  width: 45%;
}
